* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* ---------------------------GENERAL STYLES--------------------------------- */
section {
  padding: 2rem 5rem;
  min-height: 60vh;
}

header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/heroImg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 3rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#nav-links {
  display: flex;
  justify-content: space-between;
}
#nav-links li {
  margin: 0 10px;
  font-size: 0.9rem;
}
#nav-links a {
  text-decoration: none;
  color: white;
}
nav > button {
  background-color: brown;
  color: white;
  padding: 0.5rem 0.8rem;
  font-size: 0.7rem;
  border: none;
  cursor: pointer;
  transition: all 400ms ease;
  border: 1px solid transparent;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

nav > button:hover {
  background-color: white;
  color: brown;
  border: 1px solid brown;
}

/* ---------------------------- HERO SECTION------------------- */
#hero-section {
  text-align: center;
  /* background-color: red; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#hero-section > p {
  max-width: 600px;
  margin: 1rem 0;
}

#hero-section > button {
  margin: 2rem 0;
}

/* #hero-btn {
  width: 200px;
  height: 200px;
  background-color: green;
  transition-property: width;
  transition-duration: 3s;
  transition-delay: 2s;
  transition-timing-function: ease;

  transition: all 3s ease 2s;
} */

/* #hero-btn:hover {
  width: 500px;
  height: 500px;
  background-color: red;
} */

#about-section {
  background-color: #edebeb;
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 4rem;
  column-gap: 4rem; */
  gap: 4rem;
  align-items: center;
}

.about {
  text-align: center;
}
.about i {
  font-size: 3rem;
  font-weight: 600;
}
.about h2 {
  font-weight: 300;
  color: red;
  margin: 1rem 0;
}
.about p {
  color: rgb(117, 116, 116);
  letter-spacing: 0.07rem;
}

/* --------------------------MENU SECTION------------------------ */
#menu-section {
  background-color: white;
  padding-top: 5rem;
}
#menu-section h2 {
  text-align: center;
  position: relative;
  /* background-color: green; */
  padding-top: 1rem;
  position: relative;
  top: 30px;
  z-index: 100;
}

#menu-section h2::before {
  content: "";
  width: 100px;
  height: 5px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 45%;
  margin: auto;
  display: block;
}
#menu-section h1 {
  text-align: center;
  /* background-color: red; */
  font-size: 8rem;
  /* line-height: 4rem; */
  font-weight: bolder;
  color: lightgray;
  position: relative;
  /* z-index: 100; */
}

#menus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: -50px;
  /* row-gap: 1rem; */
}

.menu {
  display: flex;
}
.menu .content {
  background-color: #edebeb;
  padding: 1rem 2rem;
}
.menu img {
  width: 660px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}

#pos-section {
  background-color: green;
  position: relative;
}

#pos-div1 {
  height: 200px;
  width: 100px;
  background-color: orange;
  top: 70px;
  right: 0;
  z-index: 2;
  position: absolute;
  /* transition: all 6s ease; */
}

#pos-div2 {
  height: 100px;
  width: 200px;
  background-color: purple;
  top: 70px;
  right: 0;
  position: absolute;
  z-index: 1;
}
/* #pos-div:hover {
  top: -20px;
} */

#pos-section > p {
  line-height: 0.3rem;
}

/* --------------------FOOTER------------------- */
footer {
  background-color: black;
  color: white;
  min-height: 50vh;
  padding: 2rem 5rem;
}
footer > div {
  display: flex;
  justify-content: space-between;
}

#about-opening {
  display: flex;
}
#about-footer {
  max-width: 300px;
}
#about-footer p {
  line-height: 1.5rem;
  margin: 1rem 0 2rem;
}

#about-icons {
  display: flex;
  gap: 1rem;
}
#about-icons > div {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* color: red; */
}
#about-icons > div:hover {
  background-color: white;
  /* color: black; */
}

#about-icons > div i {
  color: red;

  font: 0.6rem;
}

#about-icons > div:hover i {
  color: black;
}
